:root {
  --sidebar-color: #3C4B64;
  --main-bg-color: #EBEDEF;
  --light-purple-color: #413895;
  --dark-purple-color: #4c41af;
  --black-color: #5D5D68;
  --dark-black-color: #181924;
  --error-color: #DD4040;
  --warning-color: #FFA62B;
}
