:root {
  --sidebar-color: #3C4B64;
  --main-bg-color: #EBEDEF;
  --purple-color: #321FDB;
  --black-color: #5D5D68;
  --dark-black-color: #181924;
  --error-color: #DD4040;
  --warning-color: #FFA62B;
}
