.app {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr;
  transition: grid-template-columns 0.5s ease-out;
  -webkit-tap-highlight-color: transparent;
  .content {
    height: 90dvh;
    position: relative;
    overflow-y: auto;
    background: var(--content-bg-color);
  }
  &.sidebar-expanded {
    grid-template-columns: 15% 1fr;
  }
}

#main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

@media only screen and (max-width: 850px) {
  .app {
    grid-template-columns: 1fr;
    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
    &.sidebar-expanded {
      grid-template-columns: 1fr;
    }
    playdarts-sidebar {
      order: 2;
    }
  }
}
