<div
  class="app"
  [class.darkMode]="darkMode$ | async"
  [class.sidebar-expanded]="(sidebarExpanded$ | async) === true"
>
  <playdarts-sidebar
    (onExpanded)="sidebarExpanded$.next($event)"
    [expanded]="(sidebarExpanded$ | async) === true"
  ></playdarts-sidebar>
  <div id="page" class="container container-fluid container-full">
    <div id="main">
      <playdarts-topbar></playdarts-topbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
