.sidebar {
  position: relative;
  height: 100%;
  background: var(--sidebar-color);
  color: var(--white-color);
  .brand {
    color: var(--dark-color);
    background: var(--topbar-color);
    display: flex;
    height: 10%;
    .logo {
      transition: all 1s ease-out;
      margin: 4px;
      width: 80%;
    }
  }
  nav {
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        a {
          outline: none;
          color: var(--dark-color);
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 2rem 0;
          font-size: 1rem;
          .sidebaricon {
            width: 1.5rem;
          }
          &.active {
            &::before {
              content: "";
              position: absolute;
              left: -0.5rem;
              font-weight: bold;
              display: inline-block;
              transform: scale(3);
              width: .5rem;
              height: .5rem;
              box-shadow: 0px 0 8px 3px var(--error-color);
              border-radius: 50%;
              background: var(--error-color);
              border: none;
            }
          }
          .sidebaricon * {
            fill: var(--dark-color);
          }
        }
      }
  &.darkMode {
    color: white;
    background: var(--sidebar-color-darkmode);
    .brand {
      color: white;
      background: var(--topbar-color-darkmode);
    }
    nav {
      a {
        color: var(--white-color);
        .sidebaricon * {
          fill: var(--white-color);
        }
      }
    }
  }
  &.expanded {
    .brand {
      .logo {
        transition: all 1s ease-out;
        margin: 4px;
        margin-left: 1rem;
        width: 35%;
      }
    }
    a {
      justify-content: space-between;
      width: 80%;
    }
    .expandedicon {
      font-size: 1rem;
    }
    .sidebaricon {
      margin-right: 1rem;
    }
  }
  .expandedicon {
    font-size: 1rem;
    transition: font-size 0.5s ease-out;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    cursor: pointer;
    &:hover {
      color: var(--error-color);
    }
  }
}

@media only screen and (max-width: 850px){
  .brand, .logo, .expandedicon {
    display: none;
  }
  :host {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 4rem;
  }
  .sidebar {
    height: 100%;
    overflow-y: hidden;
    .brand {
      height: 0;
    }
    nav {
      margin-top: 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: inherit;
      box-shadow: none;
      padding: 1rem;
      a {
        position: relative;
        justify-content: center;
        &.active::before {
          position: absolute;
          left: 1.7rem;
          bottom: -1.5rem;
        }
      }
    }
  }
}

